<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>BuzzHawk</title>
	<link rel="stylesheet/less" type="text/css" href="/styles.less">
	<script src="http://lesscss.googlecode.com/files/less-1.0.18.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

</head>
<body>


	<div id="italian">
		<div class="hc3">
	<div class='coffeeLevel1'>
	</div>
	<img src="images/top_animation.gif"style="margin-top:-40px;">
		</div>
	</div>
		
	
	<div id="hb">
		<div class="hc3">
	<div class='coffeeLevel2'>
	</div>
	<img src="images/top_animation.gif"style="margin-top:-40px;">
		</div>
	</div>
	
	
	<div id="decaf">
		<div class="hc3">
	<div class='coffeeLevel3'>
	</div>
	<img src="images/top_animation.gif"style="margin-top:-40px;">
		</div>
	</div>

	<br><br>
	
	
	<div id="results">
		
		
		<div class="result1"></div>
		
		<div class="result2"></div>
	
		<div class="result3"></div>
			
			
	</div>


<script type="text/javascript">
	function updateBars() {
		

		var milliseconds = 2000;
		
	    $.ajax({
	        url: '/get-current-levels',
	        success: function(levels) {
		
						var coffee1 = (100 - levels.italian)*10;
						var coffee2 = (100 - levels.hairbender)*10;
						var coffee3 = (100 - levels.decaf)*10;
						
							$('.coffeeLevel1').animate({height: coffee1}, milliseconds);
							$('.coffeeLevel2').animate({height: coffee2}, milliseconds);
							$('.coffeeLevel3').animate({height: coffee3}, milliseconds);
							setTimeout(updateBars, 8000);
							$('.result1').html("italian: " + levels.italian + "%");
							$('.result2').html("hairbender: " + levels.hairbender + "%");
							$('.result3').html("decaf: " + levels.decaf + "%");
							
	        },
	        cache: false
	    });
	}
	updateBars();
</script>

<!-- <script type="text/javascript">
	function updateBars() {
	    $.ajax({
	        url: '/get-current-levels',
	        success: function(levels) {
	            $('#italian .level').animate({height: levels.italian + '%'});
	            $('#hairbender .level').animate({height: levels.hairbender + '%'});
	            $('#decaf .level').animate({height: levels.decaf + '%'});
	            setTimeout(updateBars, 5000);
	        },
	        cache: false
	    });
	}
	updateBars();
</script> -->
</body>
</html>
