<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>BuzzHawk</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<style>
		.coffee_pot {
			width: 80px;
			height: 300px;
			background-color: #ccc;
		}
		.coffee_pot .level {
			background-color: #f00;
			vertical-align: bottom;
		}
	</style>
</head>
<body>
	
<table cellspacing="10" align="center">
	<tr>
		<td id="italian" class="coffee_pot" valign="bottom">
			<div class="level"></div>
		</td>
		<td id="hairbender" class="coffee_pot" valign="bottom">
			<div class="level"></div>
		</td>
		<td id="decaf" class="coffee_pot" valign="bottom">
			<div class="level"></div>
		</td>
	</tr>
	<tr>
		<td>Italian</td>
		<td>Hair Bender</td>
		<td>Decaf</td>
	</tr>
</table>

<script type="text/javascript">
	function updateBars() {
	    $.ajax({
	        url: '/get-current-levels',
	        success: function(levels) {
	            $('#italian .level').animate({height: levels.italian + '%'});
	            $('#hairbender .level').animate({height: levels.hairbender + '%'});
	            $('#decaf .level').animate({height: levels.decaf + '%'});
	            setTimeout(updateBars, 5000);
	        },
	        cache: false
	    });
	}
	updateBars();
</script>
</body>
</html>
